<% comments.forEach( function(comment){ %>
    <div class="well">
        <h4>"<%= comment.content %>"</h4>
        <h6 class="text-muted">Commenter: <%= comment.name %> </h6>
        <h5>Comment posted on: <em><%= comment.post.title %></em>, <%= moment(comment.createdAt).fromNow() %></h5>
        <a href="/comments/<%= comment.id %>" class="btn btn-warning">Moderator: DELETE</a>
    </div>
<% }) %>