<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<h2>Comments</h2>
<% article.comments.forEach(comment => { %>
  <div class="well">
    <p>
      <%= comment.name %> <br />
      <%= comment.content %>
    </p>
  </div>
  <% }) %>

  

<a href="/">&larr; Back Home</a>
