<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<p><%= article.comments.name %></p>
<hr />
	<h3 class="center">Comments:</h3>
	<% if (article.comments && article.comments.length) { %>
	<% article.comments.forEach((r) => { %>
	<hr />
	<p><em><strong><%=r.name%>:</strong> <%= r.content %></em></p>
		<%})%>
		<%} else {%>
		<h4>Be the first to review <%= article.name %></h4>
		<%}%>

<hr />
<a href="/">&larr; Back Home</a>
<hr />
		<h3 class="center">Add new comment</h3>
		<form class="col s12" method="POST" action="/comments">
			<div class="form-group">
				<input type="hidden" name="articleId" value="<%=article.id%>">
				<label for="name">Your name</label>
		          <input placeholder="Your name" id="name" name="name" type="text" class="form-control">
		    </div>
		    <div class="form-group">
		    	<label for="description">Comment</label>
		         <textarea id="content" class="form-control" name="content"></textarea>
		    </div>
		    <div class="form-group">
		        <button class="btn btn-primary" type="submit" >Submit
				</button>
			</div>
		</form>
	</div>