<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h2> Comments </h2>
<% comment.forEach( comm =>{ %>
  <li>
   <%= comm.commentator %> -->
    <%= comm.comment_content %>
  </li>

<% }) %>
<!-- Form to submit comments -->
<form method="POST" action="/article/<%= article.id %>" >
  <label for = "commentatorName" > Name:</label>
  <input id ="commentatorName" type="text" name="name" id="commentatorName">

  <label for ="commentText"> Comment: </label>
  <input id="commentText" type="text" name="comment" id="commentText">
  <button type="submit">Post Your Comment</button>
  </form>
  
<a href="/">&larr; Back Home</a>
