<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>


<% if(article.comments.length > 0) { %>
  <% article.comments.forEach(function(comment) { %>
    <div class="well">
      <blockquote>
        <p><%= comment.content %></p>
      </blockquote>
      <p>- <%= comment.name %></p>
    </div>
  <% }) %>
<% } else { %>
  <h3>No comments yet!</h3>
<% } %>
<hr />
<form action="/articles/<%= article.id %>/comments" method="POST">
  <input type="text" name="name" placeholder="name" id="comment-name">
  <hr />
  <textarea type="text" name="content" id="comment-content" placeholder="comment" rows="4" cols="50"></textarea>
  <input type="submit" value="Add Comment">
</form>

<hr />


<a href="/">&larr; Back Home</a>
