<h1>
  <%= article.title %> by <%= article.author.getFullName() %>
</h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>
<p><%= article.content %></p>

<hr />
<% if(article.comments.length > 0) { %> 
<% article.comments.forEach(comment => { %>
<div class="well">
  <p>
    <%= comment.name %> 
    <br />
    <%= comment.content %>
  </p>
</div>
<% }) %> <% } else { %>
<h3>No comments yet! Add some! </h3>
<% } %>

<div>
  <h4>Add a Comment:</h4>
  <form method="POST" action="/comments">
    <input type="hidden" name="articleId" value="<%= article.id %>" />
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required />
    <label for="comment">Comment</label>
    <input type="text" id="content" name="content" required />
    <input type="submit" />
  </form>
</div>
<br />

<a href="/">&larr; Back To Homepage</a>