<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h2> Comments </h2>
<% comment.forEach( comm =>{ %>
  <li>
    <%= comm.commentator %>
    <%= comm.comment_content %>
  </li>

<% }) %>

<a href="/">&larr; Back Home</a>
