<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<a href="/">&larr; Back Home</a>

<form action="/articles/comments" method="POST">
  Name: <input type="string" name="commenter" >
  Comment: <input type="text" name="content">
  <input type="hidden" name="articleId" value="<%= article.id %>">
  <input type="submit">
</form>

<h3>What do you think about the article?</h3>
<p>
<% article.comments.forEach((comment) => { %>
  <p>
  <strong><%= comment.commenter %></strong>
  <em><%= comment.content %></em>
  </p>
<% }) %>
</p>
