<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>
<p><strong><%= moment(article.createdAt).calendar() %></strong></p>
<p><%= article.content %></p>

<form action="/articles/edit/<%= article.id %>">
    <input type="submit" class="btn btn-primary" value="Edit">
</form>
<hr>
<h4>Comments</h4>
<% if(article && article.comments) { %>
    <% article.comments.forEach((comm) => { %>
        <hr>
        <h5><%= comm.name %></h5>
        <h6><%= moment(comm.createdAt).calendar() %></h6>
        <p><%= comm.content %></p>
    <% }) %>
    <% } else { %>
        <h3>No comments yet!</h3>
<% } %>
<hr>
<form action="/comments" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <input type="text" class="form-control" id="content" name="content" required>
    </div>
    <input type="hidden" name="articleId" value="<%= article.id %>">
    <input type="submit" class="btn btn-primary" value="Reply">
</form>
<hr>
<a href="/">&larr; Back Home</a>
