<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<h2>Comments</h2>
<div>
  <% article.comments.forEach(comment => { %>
    <div>
      <p> <%= comment.content %></p>
      <p> <strong> - <%= comment.name %> </strong></p>
    </div>
  <%}) %>
</div>

<hr />
<a href="/">&larr; Back Home</a>
