<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<hr />
<div class='comments'>

  <%article.comments.forEach((comment)  => { %>
  
    <p><u><%= comment.name %> </u> </p>
    <p><%= comment.content %> </p>
    <hr />
    
    <% }) %>
  </div>
<br>
<form action="/articles/<%=article.id%>/comments" method="POST" >
 
  <input type="text" required name="com_name" placeholder="Your Name"><br>
  <textarea rows="2" cols="25" required name="content" placeholder="Leave a comment"></textarea><br>
  <!-- <input type="text" required name="content" placeholder="Leave a comment"  id="commentbox"><br><br> -->
  
  <input type="submit">
</form>
  

  <br>
  
  <hr>
  




 <p><%=//article.comments[0].content %></p>
<p><%=//article.comments[0].name %></p>

<hr />

<a href="/">&larr; Back Home</a>
