<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<a href="/">&larr; Back Home</a>


  <% comments.forEach(comment => { %>
      <h4> - <%= comment.name %> </h4> said <%= moment(comment.createdAt).calendar() %>
      <p><%= comment.body %></p>
  <% }) %>

  <form action="/articles/comment/<%= article.id %>?_method=PUT" method="POST">
    <input type="text" placeholder="Your name..." name="name">
    <input type="text" placeholder="Text..." name="body">
    <input type="submit">
  </form>
