<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<%// console.log(article) %> 
<div>
  <h2>Comments: </h2>
  <% article.comments.forEach(c => { %>
    <div class="well">
      <p><b><%= c.name %> </b></>
      <p><%= c.content %> </p>
      <form action="/comments/<%= c.id %>?_method=DELETE" method="post">
        <input type="hidden" name="articleId" value="<%= article.id %> ">
        <button type="submit">Delete Comment</button>
      </form>
      
    </div>
  <% }) %> 

</div>




<form action="/comments" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" >
  <label for="content">Comment:</label>
  <input type="text"name="content" >
  <input type="hidden" name="articleId" value="<%= article.id %> ">
  <button type="submit">Submit</button>
</form>

<hr />

<a href="/">&larr; Back Home</a>