<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<div>
  <% if(article.comments.length > 0) { %>
    <% article.comments.forEach(comment => { %>
      <div class="well">
        <p>
          <%= comment.commentator %> commented:<br />
          <%= comment.commentContent %>
        </p>
      </div>
  <% }) %>
  <% } else { %>
    <h3>Sorry, no comments yet! &#129335;</h3>
  <% } %>
</div>

<hr />
<div class="input-group mb-3">
  <input type="text" class="form-control" action="/articles/show" method="POST" placeholder="Add comment here" aria-label="Recipient's username" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
  </div>
</div>
<hr />

<a href="/">&larr; Back Home</a>
