<h1><%= article.title %> <small>by <%= //article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<a href="comment/<%= article.id %>">Check comment</a>


<hr />

<a href="/">&larr; Back Home</a>
