<div id="articlePage">
  <h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

  <p>
    <strong><%= moment(article.createdAt).calendar() %></strong>
  </p>

  <p id="article"><%= article.content %></p>

  <hr />

  <h4>Comments:</h4>
    <% allComments.forEach((comment) => { %>
    <div id ="individualComments"
      <p> <%=comment.content %> </p>
    <p id="name"> - <%= comment.name %> </p>
    </div>
  <% }) %>


  <h2>Comment on this post</h2>
    <form method="POST" action="/articles/<%= article.id %>/comments">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea type="text" class="form-control" id="content" name="content" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  <a href="/">&larr; Back Home</a>
</div>