<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% article.comments.forEach((comment) => { %>
  <h5>Commenter: <%= comment.name %></h5>
  <p><%= comment.content %></p>
<% }) %>
<form action="/articles/<%= article.id %>/comments" method="POST">
  <div class="form-group">
    <label for="name">Your Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
    <label for="content">Add Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    <input type="submit" class="btn btn-primary">
  </div>
</form>

<a href="/">&larr; Back Home</a>
