<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<form action="/articles/edit/<%= article.id %>" method="GET">
  <input type="submit" value="Edit Article" class="btn btn-primary">
</form>

<div style="padding-top: 12px">
  <% comments.forEach(comment => { %>
    <hr />
    <h4 style="display: inline"> - <%= comment.name %> </h4> said <%= moment(comment.createdAt).calendar() %>
    <blockquote class="blockquote"><%= comment.body %></blockquote>

  <% }) %>
</div>


  <form action="/articles/comment/<%= article.id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" style="display: block;" placeholder="Your name..." name="name">
    </div>

    <div class="form-group">
      <label for="body">Comment</label>
      <textarea type="text" class="form-control" placeholder="Text..." name="body" style="height: 100px"></textarea>
    </div>

    <input type="submit" class="btn btn-primary">
  </form>

  <div style="padding-top: 20px;">
    <a href="/">&larr; Back Home</a>
  </div>

  <hr />