<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<% article.comments.forEach(comment => { %>
  <hr />
  <p style="font-style:italic;"><%= comment.dataValues.content %></p>
  <p>Commenter: <%= comment.dataValues.name %></p>
<% }) %>

<hr />
<h4>Leave a comment</h4>
<form action="/articles/<%=article.id%>" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="content">Comment:</label>
  <input type="text" name="content" id="content">
  <input type="submit">
</form>
<hr />

<a href="/">&larr; Back Home</a>
