<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>


<!-- <h3>Comments:</h3> -->
<!-- for each -->
<!-- <% // comments.forEach((comment) => { %>
  <div>
    <p><%= // comment.dataValues.content %></p>
  </div>
  <div>
    <p>User: <%= // comment.dataValues.name %></p>
  </div>
<% // }) %> -->

<!-- <p><%=// comment[article.id].dataValues.content %></p> -->

<hr />

<h3>Comments:</h3>

<% if (article.comments && article.comments.length){ %>
  <% article.comments.forEach(comment => { %>
   <p> <%= comment.content %> </p>
   <p>User: <%= comment.name %> </p>
  <% }) %>
<% } %>


<form method="POST" action="/articles/<%= article.id %>">
  <label for="name">Name</label>
  <input id="name" type="text" name="name">
  </br>
  <label for="content">Comment</label>
  <input id="content" type="text" name="content" />
  <button type="submit">Post</button>
</form>

<a href="/">&larr; Back Home</a>
