<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>


  <% article.comments.forEach((userComment) => { %>
      <h2> <%= userComment.dataValues.content %> </h2>
 <% }) %>


<hr />

<a href="/">&larr; Back Home</a>
