<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<!-- showing the comments in the data base -->
<h2>Comments</h2>
<% article.comments.forEach(comment => { %>
  <div class="well">
    <p>
      <%= comment.name %> <br />
      <%= comment.content %>
    </p>
  </div>
  <% }) %>
<!-- making comment section so people can comment with name -->
  <form method="POST" action="/articles/<%= article.id %>">
    <label for="name">Name</label>
    <input name="name" id="name" class="form-control" required><br>
    <label for="content">Comment</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
    <input type="submit" class="btn btn-primary">
</form>


<a href="/">&larr; Back Home</a>
