<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<% article.comments.forEach((comment) => { %>
<h3>Commenter: <%= comment.dataValues.name %></h3>
<p><%= comment.dataValues.content %></p>
<% }) %>
<form method="POST" action="/articles/<%= id %>/comment">
  <label for="name">Your Name</label>
  <input name="name" type="text" id="name">
  
  <label for="content">Comment</label>
  <input name="content" type="text" id="content">

  <input type="submit">
</form>
<hr />

<a href="/">&larr; Back Home</a>
