<div class="container general">

  <h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>
    <p>
    <strong><%= moment(article.createdAt).calendar() %></strong>
    </p>

    <p><%= article.content %></p>
    <hr />
  <div class="container">
    <h3> Comment on this post </h3>

    <% if(article.comments && article.comments.length){ %>
      <% article.comments.forEach((r)=>{ %>

    <div class="card bg-info" style="width: 80rem;">
       <div class="card-body">
          <h5 class="card-title"><%= r.name %></h5>
          <p class="card-text">  <%= r.content %></p>
       </div>
    </div>

      <%}) %>
     <%} else { %>
      <h4>Be the first to review <%= article.title %>!</h4>
      <%  } %>
  <br>      
   <a href="/">&larr; Back Home</a>

  </div>

<div class="container commentCon">
  <h4> Add a new review</h4>
  <form  action="/articles" method="post">
    <input type="hidden" name="articleId" value="<%= article.id %>">
       <div class="form-group row">
          <label for="yourname" >Your name</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
       </div>
       <div class="form-group row">
         <label for="content">Your comment</label>
         <textarea class="form-control" id="content" name="content" rows="3" placeholder="Your thoughts"></textarea>
       </div>
            <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</div>
