<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% if (article.comments){ %> 
<!-- DISPLAYS COMMENTS -->
<h2> Comments </h2>
<% article.comments.forEach( comment =>{ %>
  <li>
   <%= comment.name %> 
    <%= comment.content %>
  </li>

<% }) %>
<% } %>

<!-- Form to submit comments -->
<form method="POST" action="/articles/<%= article.id %>/comments">
  <label for="name">Your Name:</label>
<input type="text" name="name">
<label for="content">Write your comment here:</label>
<input type="text" name="content">
<input type="submit">
</form>  


<!-- <form method="POST" action="/article/<%=//article.id%>/comments"  >
  <label for = "name" > Name:</label>
  <input type="text" name="name" >

  <label for ="content"> Comment: </label>
  <input type="text" name="content" >
  


  <button type="submit">Post Your Comment</button>
  </form>   -->
  
<a href="/">&larr; Back Home</a>
