<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<% article.comments.forEach(comment => { %> 
  <h6><%= comment.name %> says <%= comment.content %></h6>
<% }); %>

<hr />

<a href="/">&larr; Back Home</a>
