<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<div class="container">
  <div class="row">
    <h2>Comments</h2>
      <% article.comments.forEach(c => { %>
        <h3><%= c.name %></h3>
        <h4><%= c.content %></h4>
      <% }) %>
  </div>
</div>


<form action="/comments" method="POST">
  Name: <input name="name">
  Comment: <input type="text">
  <input type="hidden" name="articleId" value="<%=article.id%>">
  <input type="submit">
</form>

<a href="/">&larr; Back Home</a>
