<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<p> <%= article.id %> </p>

<ul>
  <% article.comments.forEach(comment => { %>
    <p> <%=comment.content %> </p>
    <p><%= comment.name %></p>
  <% }) %>

</ul>


<form method="POST" action="/articles/comment/<%= article.id %>">
  <input type="text" name="content">
  <input type="text" name="name">


  <button type="submit">Yes, commet?</button>
</form>`


<a href="/">&larr; Back Home</a>
