

<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<ul>
  
  <% article.comments.forEach(function(comment){ %>
    
    <%- include('../comments/show', {comment: comment}) %>
 
    <% }); %>

  </ul>

  <div class="form-div">
    
    <%- include('../comments/new', {articleId : article.id}) %>
  
  </div>

  <a href="/">&larr; Back Home</a>