<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr>

<h3>Comments:</h3>

<% article.comments.forEach(c => { %>
	<h5><%= c.name%> says</h5>
	<p><%= c.content %></p>

<% })%>

<h3>Leave a Comment:</h3>

<form method="POST" action="/articles/:id" id="comment-box">
	<label for="name-field">Name:</label>
	<br>
	<input type="text" id="name-field" name="name">
	<br>
	<label for="Comment" id="comment-label">Comment:</label>
	<br>
	<textarea id="comment-field" name="content"></textarea>
	<br>
	<input type="text" id="articleId" name="articleId" value="<%= article.id%>">
	<input type="submit" value="Leave a comment!">
</form>

	

<hr />

<a href="/">&larr; Back Home</a>

<script>
	document.getElementById('articleId').style.display = 'none';
</script>
