<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<a href="/">&larr; Back Home</a>

<ul>
  <% comments.forEach(comment => { %>
    <li>
      <h4><%= comment.name %></h4>
      <p><%= comment.body %></p>
    </li>
  <% }) %>
</ul>
