<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<ul>
  <% article.comments.forEach(comment => { %>
    <li><%= comment.content %></li>
    <li>-<%= comment.commentName %></li>
  <% }) %>
</ul>

<form method="POST" action="/articles/<%= article.id %>/comments">
  <label for="name">Name:</label>
  <input id="name" type="text" name="name" />
  <br>
  <br>
  <textarea rows="4" cols="50" name="comment" placeholder="Enter text here..." ></textarea>
  <br>
  <input type="submit">
</form>

<br>
  
</form>
<br>
<a href="/">&larr; Back Home</a>
