<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<hr />
<h3>Comments:</h3>
<br>

<% article.comments.forEach(comment => { %>
  <p> <%= `Comment from ${comment.name}: ${comment.content}`  %> </p>
<% }) %>

<form action='/articles/<%= article.authorId %>' method="POST">

  Name:
  <input type="text" class="form-control" id="name" name="name" required>
  Comment:
  <input type="text" class="form-control" id="content" name="content" required>
  <input type="submit" value="Submit" id="submit">
</form>
<hr />

<a href="/">&larr; Back Home</a>
