<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>
<p><%= article.id %></p>

<form action="/articles/comment/<%= article.id %>" method="POST">
  <input type="text" placeholder="comment" name="content">
  <input type="text" placeholder="name" name="name">
  <input type="submit" >
</form>

<hr />
  <% article.comments.forEach(comment => { %>
    <p><%= comment.content %></p>
 <% })  %>
<hr />

<a href="/">&larr; Back Home</a>
