<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />
<div>
	<h1 id="comments">Comments</h1>
	<% article.comments.forEach(c => { %>
	<div class="commentBox">
		<h3><p class="name"><%= c.name %></p></h3>
		<p><%= c.comment %></p>
	</div>
	<% }) %>
</div>
<form method="POST" action="/comments">
	<input type="text" name="name">Name</input>
	<input type="textarea" name="comment">Comment</input>
	<input type="hidden" name="articleId" value="<%=article.id %>">
	<input type="submit" value="POST">
</form>

<a href="/">&larr; Back Home</a>
