<h3>Latest Posts from BlogPulse</h3>


<div class="col s12 m7">
  <div class="card">
    <div class="card-image">
      <img src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Seattle_Kerry_Park_Skyline.jpg">
    </div>
  </div>
  <% articles.forEach((a) => { %>
  <div class="card horizontal">
    <div class="card-image">
      <img src="https://lorempixel.com/100/220/nature/<%= a.id %>">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h4 class="header">
          <a href="/articles/<%= a.id %>"><%= a.title %></a>
        </h4>

        <h5>By <%= a.author.getFullName() %></h5>
        <p>
          <strong><%= moment(a.createdAt).calendar() %></strong>
        </p>
      </div>
    </div>
  </div>
  <% }) %>
</div>