<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />
	<% post.comments.forEach(function(comment, i) { %>
		<div class="well comment-box">
			<h3><%= post.comments[i].name %></h3>
			<hr />
			<p><%= post.comments[i].content %></p>
		</div>
	<% }) %>

<div class="well">
	<h2>Share Your Thoughts!</h2>
	<form method="POST" action="/posts/<%= post.id %>">
			<input type="text" name="name" placeholder="Name...">
			<textarea class="form-control" rows="5" id="comment-field" type='text' name='content'></textarea>
		<input type='hidden' name='postId' value='<%= post.id %>'>
		<button type="submit">Submit Comment</button>
	</form>
	<br />
</div>
<a href="/">&larr; Back Home</a>
