<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<strong>Tags:</strong>

<% post.tags.forEach(function(t) { %>
  <a href="/tags/<%=t.id%>">
    #<%= t.name %>
    </a>
<% }) %>

<h3>Comments</h3>
<% post.comments.forEach(function (comment) { %>
  <h4><%= comment.name %></h4>
  <p><%= comment.content %></p>
<% }); %>




<hr />

<h5>Add a Comment</h5>
<form method='post' action="/comments">
<input type="text" name="name" placeholder='Enter Name'>
<input type="text" name="content" placeholder='Write comment'>
<input type="hidden" name="postId" value='<%=post.id%>'>
<input type="submit" value='Comment'>
</form>

<a href="/">&larr; Back Home</a>
