<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<form action="/comments" method="POST">
    <input type="hidden" name="postId" value="<%= post.id %>">
    <input type="text" name="name" placeholder="Name?">
    <input type="text" name="content" placeholder="Comment?">
    <input type="submit" value="Add Comment!">
</form>
<br>
  <% post.comments.forEach(function(comment) { %>
    <div class="well">
    <h3><%= comment.content %></h3>
    <p> - <%= comment.name %> </p>
    </div>
  <% }); %>

<a href="/">&larr; Back Home</a>
