<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<form method="POST" action="/comments">
  <input type="hidden" name="postId" value="<%= post.id %>" />
  <input type="text" name="name" placeholder="Your name..." />
  <input type="text" name="content"  placeholder="Speak it!" />
  <input type="submit" value="Comment!" />
</form>

<br>

<% post.comments.forEach(function(comment) { %>
<div class="well">
  <h3><%= comment.content %></h3>
  <p> - <%= comment.name %></p>
</div>
<% }); %>

<a href="/">&larr; Back Home</a>



<!-- <form action="/posts/<%= post.id %>/comments" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="content" placeholder="your comment here">
  <button type="submit">Submit your comment</button>
</form> -->

<!-- <hr /> -->

<!-- <% post.comments.forEach(function(comment) { %>
  <p><%= comment.content %></p>
  <p>Comment by: <%= comment.name %></p>
  <hr />
<% }); %> -->
