<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p><%=post.content%></p>
<p>
  <% post.tags.forEach(function(tag){ %>
     <a href="/posts/tags/<%=tag.name%>"></a>&nbsp;
  <% }); %>
</p>
<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>
<a href='/comments/new/<%=post.id%>'>Please add your comment</a>
<a href='/comments/<%=post.id%>'>View comments on this post</a>
<a href='/posts/edit/<%= post.id %>'>Edit Post</a>
<hr />

<a href="/">&larr; Back Home</a>

