<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<form action="/posts/<%= post.id %>/comments" method='POST'>
	<input type='text' placeholder='Type Comment' name='content' style='width: 400px'>
	<br>
	<input type='text' placeholder='Type Name' name='name'>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr />

<% post.comments.forEach(function(comment) { %>
	<p>"<%= comment.content %>" - <%= comment.name %></p>
<% }); %>

<a href="/">&larr; Back Home</a>