<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />
<h4>Comments</h4>

	<% post.comments.forEach(function(comment){ %>
	<div class="well">
		<%= comment.content %><br>
		<em>—<%= comment.name %></em><br> 
		</div>
		
	<% }) %>

<h4>Comment on this post</h4>
<form method="POST" action="/posts/add">
	<div class="form-group">
		<label>Name:</label>
		<input type="text" name="name" class="form-control"><br>
		<label>Content:</label>
		<textarea type="text" class="form-control" id="content" name="content" required></textarea>
		<input type="hidden" postId="<%= post.id %>" name="postId" value="<%= post.id %>">
	</div>

	<button type="submit" class="btn btn-primary">add comment</button>
</form>


<br>
<a href="/">&larr; Back Home</a>

