<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />


<h2>Comments</h2>

<% post.comments.forEach(function(comment) { %>
  <div class="well">
    <p>
      <%= comment.content %>
    </p>
    <h6>
      - <%= comment.name %>
    </h6>
  </div>
<% }); %>

<h4>Comment on this Post</h4>

<form method='POST' action="<%= '/posts/' + post.id + '/comments' %>">
  <div class="form-group">
    <label for="name">Name</label>
    <input type='text' class="form-control" name='name' placeholder="Enter name...">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
      <textarea type='text' class="form-control" name='content' placeholder="Enter comment..."></textarea>
      <input type='hidden' name='postId' value='<%= post.id %>'>
  </div>
  <input type='submit' class="btn btn-primary" value='Add Comment'>
</form>

<a href="/">&larr; Back Home</a>
