<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<% post.comments.forEach(function(comment) { %>
<div class="well">
  <p><%= comment.content %></p>
  <span>- <%= comment.name %></span>
</div>
<% }); %>

<hr />
<h2>Comments:</h2>
<form action="/posts/<%= post.id %>/comments" method="POST" >
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="content">Comment</label>
  <textarea type="text" name="content" id="content"></textarea>
  <input type="submit" value="Cyber Bully Now!" class="btn btn-danger">
</form>


<a href="/">&larr; Back Home</a>
