    <h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

    <p>
      <strong><%= moment(post.createdAt).calendar() %></strong>
    </p>

    <p><%= post.content %></p>

    <strong>Tags:</strong>
    <% post.tags.forEach(function(t){ %>
      <a href="/tags/<%= t.id %>">
        #<%= t.name %>
      </a>
    <% }); %>

    <hr />
    <!-- add comments section -->
    <% if(post.comments){ %>
      <% post.comments.forEach(function(comment){ %>
        <ul class="list-group">
          <li class="list-group-item">Comment ID: <%= comment.id %></li>
          <li class="list-group-item">Comment By: <%= comment.name %></li>
          <li class="list-group-item">
            <p><%= comment.content %></p>
            <a class="update-item" href="/comments/<%= comment.id %>/edit">Oops...!?</a>          
          </li>
          <li class="list-group-item">Posted on: <%= moment(comment.createdAt).calendar() %></li>
          <li class="list-group-item">
            <a class="delete-item" href="/comments/delete/<%= comment.id %>">Destroy</a>
          </li>
        </ul>
      <% }); %>
    <% } else { %>
      <p>No comments to display.</p>
    <% } %>

    <!-- add form section for new comments -->
    <form class="comment-input" action="/comments" method="post">
      <input type="text" class="form-control" name="name" placeholder="Enter your Name">
      <input type="text" class="form-control" name="content" placeholder="What do you think?">
      <input type="hidden" class="form-control" name="postId" value="<%= post.id %>">
      <input type="submit" class="btn btn-primary" value="What's Your Opinion">
    </form>


    <a href="/">&larr; Back Home</a>
