<h1><%= post.title %></h1>
<h3>by <%= post.author.getFullName() %></h3>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

    <% post.comments.forEach(function(item) { %>
        <div class='comment'>
            <p class='commenter-name'><%= item.name %>:</p>
            <p class='comment-text'><%= item.comment %></p>
        </div>
    <% }) %>
    </p>
<form method="POST" action="/comments/<%= post.id %>">
    <textarea class="comment-textarea" name="comment" placeholder="Add a new comment..."></textarea><br>
    <input id='name-box' type="text" name="name" placeholder="Name">
    <input class="btn btn-primary" type="submit" value="Submit Comment">
</form>

<a href="/">&larr; Back Home</a>