<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>
<a href="/">&larr; Back Home</a>

<hr />

<form action="/posts/<%= post.id %>/comments" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="content" placeholder="your comment here">
  <button type="submit">Submit your comment</button>
</form>

<hr />

<% post.comments.forEach(function(comment) { %>
  <p><%= comment.content %></p>
  <p>Coment by: <%= comment.name %></p>
  <hr />
<% }); %>
