<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<a href="/">&larr; Back Home</a>

<form method="post" action='/posts/<%= post.id %>/comments'>
  <label>Name</label>
    <input type="text" name="name">
  <label>Comment</label>
    <textarea type="text" name="content"></textarea>
  <button type="submit">Submit Comment</button>
</form>

<% post.comments.forEach(function(comment) { %>
     <p><%= comment.name %> <%= comment.content %></p>
<% }); %>
