<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<h1> Comments </h1>

<% post.comments.forEach(function(comment){ %>
  <div class="well">
    <p> <%= comment.content %> </p>
    <p> <%= comment.name %> </p>
  </div>
<%});%>

<hr />

<form method="POST" action="<%= '/posts/'+ post.id + '/comments'%>">
     <p><label name="name">Name:</label><br>
     <input type="text" name="name"></p>
     <p><label name ="content">Comment:</label><br>
     <textarea name="content" cols="50" rows="5" placeholder="Your comment..."></textarea></p>
     <p><input class="submit" type="submit" value="Submit Comment"></p>

</form>

<a href="/">&larr; Back Home</a>
