<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<form action="/posts" method="POST">
    <input type="text" name="name" placeholder="Name?">
    <input type="text" name="content" placeholder="Comment?">
    <input type="submit" value="Add Comment!">
</form>

<br>

<h2>Comments:</h2>
<h3>Comment name loop</h3>
<p>Comment content loop</p>
<p>These are my abilities:</p>
      <ul>
        <% comments.name.forEach(function(comment) { %>
          <li><%= comment.name %></li>
        <% }); %>
      </ul>

<a href="/">&larr; Back Home</a>
