<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>
<p>
  <% post.tags.forEach(function(tag) { %>
    <a href="/posts/tags/<%= tag.name %>"><%= tag.name %></a>&nbsp;
  <% }); %>
</p>
<hr />

<ul>
  <% post.comments.forEach(function(comment) { %>
    <li><%= comment.content %> - <%= comment.name %></li>
  <% }); %>
</ul>

<hr />

<p>Make a comment:</p>
<form action="/posts/<%= post.id %>/comments" method="POST">
  <input type="text" name="name" placeholder="Enter your name..." />
  <input type="text" name="content" placeholder="Spit your rhymes..." />
  <input type="submit" value="Preach!" />
</form>

<hr />

<a href="/">&larr; Back Home</a>
