<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<a href="/">&larr; Back Home</a>
<% post.comments.forEach(function(comment) { %>
  <h1><%= comment.content %> <small>by <%= comment.name %></small></h1>
<% }); %>

<h1>Create a new comment</h1>

<form action="/posts/<%= post.id %>/comments" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

<!-- PRIOR:
     index.js="app.use('/posts', require('./controllers/posts'));"
     res.render('posts/show', { post: post }); -->
