<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<h3>Cool Comments</h3>
<% post.comments.forEach(function(comment) { %>
  <p><%= comment.content %></p>
  <p><%= comment.name %></p>
<% }); %>

<a href="/">&larr; Back Home</a>
