<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<hr />

<h3>Comments</h3>

<% post.comments.forEach(function(comment){ %> 
  <h5><%= comment.name %></h5>
  <p><%= comment.content %></p>
<% }); %>

<hr />

<h4>Comment on this post:</h4>
<form method="POST" action="/posts/<%= post.id %>/comments">
	<label>Name<br>
	  <input type="text" name="name">
  </label><br>
	<label>Content<br>
		<input type="text" name="content">
	</label><br>
	<input class="btn" type="submit">
</form>

<a href="/">&larr; Back Home</a>
