<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>
  <% post.comments.forEach(function(comment) { %>
    <div class="well">
      <h3><%= comment.content %></h3>
      <p class="comment"> - <%= comment.name %></p>
    </div>
  <% }); %>
<hr />
<p>Make a comment:</p>
<form action="/posts/<%= post.id %>/comments" method="POST">
  <input type="text" name="name" placeholder="Please enter your name" /><br/>
  <input type="text" name="content" placeholder="What do you have to say?" /><br/>
  <input type="submit" class="btn btn-primary" value="Submit Comment!" />
</form>
<hr />
<a href="/">&larr; Back Home</a>&nbsp;<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
