<h1><%= post.title %> <small>by <%= post.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(post.createdAt).calendar() %></strong>
</p>

<p><%= post.content %></p>

<div><%= post.comment %><div>
<form action="/posts/<%= post.id %>/comments" method="POST">
  <div clas="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

<form>

<a href="/">&larr; Back Home</a>
